body {
	font-size: 13px;
	line-height: 0.5;
}

header {
	border-radius: 0px;
}

header .navbar {
	margin: 0px;
	line-height: 0;
	text-align: center;
}

.hero {
	background-image: url(../img/banner-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 25px 0;
	min-height: 350px;
	position: relative;
}

.hero-content {
	position: relative;
	text-align: center;
	text-shadow: 1px 1px black;
}

.hero-content h2 {
	color: #FFF;
	font-size: 70px;
}

.hero-content p {
	color: #FFF;
	font-size: 30px;
	margin-bottom: 15px;
	text-decoration: none;
}

.hero-content .btn {
	padding: 5px 20px;
	margin-top: 10px;
	background-color: #1d5b1c;
	border-color: #1d5b1c;
	box-shadow: 1px 1px 1px black;
}

main {
	min-height: 250px;
	padding: 25px 0;
}

footer {
	padding: 15px 0;
	font-size: 14px;
	color: #BBB;
	background: #222;
	text-align: center;
}