<!DOCTYPE html>
	<div class='jumbotron text-center'>
		<h1>Contact Page</h1>
	
		<div = class='row'>
			<div class='col-sm-6 sol-sm-offset-3'>
				<h2>Contact Us!</h2>
				<p>Some load of random text here.</p>

				<form action='/contact' method='POST'>

					<div class='form-group'>
						<label>Name</label>
						<input type='text' name='name' class='form-control'>
					</div>
					<div class='form-group'>
						<label>Email</label>
						<input type='text' name='email' class='form-control'>
					</div>
					<div class='form-group'>
						<label>Your Message</label>
						<input type='text' name='message' class='form-control'>
					</div>

					<div class='form-group text-right'>
						<button type='submit' class='btn btn-primary btn-lg'>Send</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</html>