<!DOCTYPE html>
	<%- contentFor('hero') %>
	<section class="hero">
		<div class="hero-content">
			<h2>Welcome to our Site!</h2>
			<p>The best place to be</p>

			<a href="/" class="btn btn-lg btn-primary">Get Started</a>
			<a href="/contact" class="btn btn-lg btn-primary">Contact Us!</a>
		</div>
	</section>

	<%- contentFor('body') %>
	<div class="jumbotron text-center">
		Home Page
	</div>
</html>